/* --- Estilos de Botões de Construção --- */
.construction-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 2px solid var(--border-color);
  background-color: var(--interactive-bg);
  color: var(--text-color);
  cursor: pointer;
  position: relative;
}

.construction-button.disabled {
  background-color: var(--column-bg);
  color: var(--border-color);
  cursor: not-allowed;
  opacity: 0.6;
}

.construction-image {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  object-fit: contain;
}

.construction-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.construction-name {
  font-size: 1.1em;
  font-weight: bold;
}

.construction-price {
  color: var(--secondary-accent);
}

.construction-count {
  font-size: 2em;
  font-weight: bold;
  padding: 0 15px;
  color: var(--text-color);
}

.construction-button .tooltip {
  visibility: hidden;
  width: 280px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: left;
  border-radius: 4px;
  padding: 12px;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  margin-left: -140px;
  opacity: 0;
  transition: opacity 0.2s;
}

.construction-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
