/* --- Estilos de Botão de Legacy --- */
.legacy-button {
  width: 100%;
  height: 50px;
  border: 2px solid var(--legacy-border);
  background-color: var(--column-bg);
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--legacy-border);
  opacity: 0.5;
  transition: width 0.5s ease-in-out;
}

.button-text {
  position: relative;
  z-index: 1;
  font-size: 1.2em;
  font-weight: bold;
}

.legacy-button .tooltip {
  visibility: hidden;
  width: 280px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: left;
  border-radius: 4px;
  padding: 12px;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  bottom: auto;
  top: 105%;
  left: 50%;
  margin-left: -140px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.legacy-button .tooltip-action {
  margin-top: 10px;
  color: var(--secondary-accent);
}

.legacy-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  overflow-y: none;
}
