.upgrade-button {
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 2px solid var(--border-color);
  background-color: var(--interactive-bg);
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Adicionado para levantar o botão ativo */
.upgrade-button:hover {
  z-index: 11;
}

.upgrade-button.disabled {
  background-color: var(--column-bg);
  color: var(--border-color);
  cursor: not-allowed;
  opacity: 0.6;
}

.upgrade-icon {
  font-size: 2em;
}

.upgrade-button .tooltip {
  visibility: hidden;
  width: 250px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: left;
  border-radius: 4px;
  padding: 12px;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  top: 105%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.upgrade-button .tooltip-price {
  margin-top: 8px;
  color: var(--secondary-accent);
  font-weight: bold;
}

.upgrade-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
